<div class ="row" id="content">
  <div class = "col-sm-6">
<form [formGroup]="formularioDeUsuario" (ngSubmit)="cadastrarUsuario()">
    <div>
      <label for="nome">Nome: </label>
      <input type="text" class="form-control" formControlName="nome">
      <div *ngIf="!nome.pristine && nome.errors">
          <p *ngIf="nome.errors.required">
            Nome é obrigatório.
          </p>
          <p *ngIf="nome.errors.minlength">
            Nome deve ter no mínimo 3 caracters.
          </p>
          <p *ngIf="nome.errors.maxlength">
            Nome deve ter no máximo 100 caracters.
          </p>
        </div>
    </div>
  
    <div>
      <label for="email">E-mail: </label>
      <input type="text"  class="form-control" formControlName="email">
      <div *ngIf="!email.pristine && email.errors">
          <p *ngIf="email.errors.email">
            Digite um e-mail válido.
          </p>
        </div>
    </div>
  
    <div>
      <label for="usuario">Usuário: </label>
      <input type="text"  class="form-control" formControlName="usuario">
     
    </div>
  
    <div>
      <label for="senha">Senha: </label>
      <input type="password"   class="form-control"formControlName="senha">
      <div *ngIf="!senha.pristine && senha.errors">
          <p *ngIf="senha.errors.required">
            Senha é obrigatória.
          </p>
          <p *ngIf="senha.errors.minlength">
            Senha deve ter no mínimo 6 caracters.
          </p>
          <p *ngIf="senha.errors.maxlength">
            Senha deve ter no máximo 12 caracters.
          </p>
        </div>
    </div>
    <br>
    <div>
      <button [disabled]="!formularioDeUsuario.valid" type="button" class="btn btn-success" (click)="cadastrarUsuario()">Cadastrar</button>
    </div>
  
    <br>
    <br>

  </form>
  </div>
  </div>
  <!--
  <div class="container">
      <button mat-raised-button>I'm a button</button>
    <h2>Usuários Cadastrados</h2>         
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Nome</th>
          <th>Usuário</th>
          <th>E-mail</th>
          <th>Perfil</th>
          <th></th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let users of allUsers">
          <td>{{users.name}}</td>
          <td>{{users.username}}</td>
          <td>{{users.email}}</td>
          <td>{{users.roles[0].name}}</td>
          <td><button type="button" class="btn btn-danger">Excluir</button></td>
          <td><button type="button" class="btn btn-warning">Editar</button></td>
        </tr>
       
      </tbody>
    </table>
  </div>
-->

<div class="search-div">
    <h5>Usuários:</h5>
    <mat-form-field class="search-form-field" floatLabel="never">
       
      <input matInput [(ngModel)]="searchKey" placeholder="Pesquisar" autocomplete="off" (keyup)="applyFilter()">
      <button mat-button matSuffix mat-icon-button aria-label="Clear" *ngIf="searchKey" (click)="onSearchClear()">
        <mat-icon>close</mat-icon>
      </button>
    </mat-form-field>
  </div>
<div class="row" >
   
  <div class = 'col-sm-10' id="tableUsers">
<div class = 'mat-elevation-z8'>
  <mat-table [dataSource]="dataSource" matSort>
    <ng-container matColumnDef='name' >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Nome</mat-header-cell>
      <mat-cell *matCellDef='let element'>{{element.name}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='username' >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Usuário</mat-header-cell>
      <mat-cell *matCellDef='let element'>{{element.username}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='email' >
      <mat-header-cell *matHeaderCellDef mat-sort-header>E-mail</mat-header-cell>
      <mat-cell *matCellDef='let element'>{{element.email}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='roles' >
      <mat-header-cell *matHeaderCellDef mat-sort-header>Perfil</mat-header-cell>
      <mat-cell *matCellDef='let element'>{{element.roles[0]['name']}}</mat-cell>
    </ng-container>
    <ng-container matColumnDef='actions'>
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef='let row'>
        <button mat-icon-button  (click)="editarUsuario(row)"><mat-icon>launch</mat-icon></button>
        <button mat-icon-button color="warn" (click)="excluirUsuario(row.id)"><mat-icon>delete_outline</mat-icon></button>
      </mat-cell>
    </ng-container>
    <ng-container matColumnDef='loading'>
      <mat-footer-cell *matFooterCellDef colspan='6'>Carregando...</mat-footer-cell>     
    </ng-container>
    <ng-container matColumnDef='noData'>
      <mat-footer-cell *matFooterCellDef colspan='6'>Não possui dados</mat-footer-cell>     
    </ng-container>
    <mat-header-row *matHeaderRowDef='displayedColumns'></mat-header-row>
    <mat-row *matRowDef='let row; columns:displayedColumns; '></mat-row>
    <mat-footer-row *matFooterRowDef="['loading']" [ngClass]="{'hide':dataSource!=null}"></mat-footer-row>
    <mat-footer-row *matFooterRowDef="['noData']" [ngClass]="{'hide':!(dataSource!=null && dataSource.data.length==0)}"></mat-footer-row>
  </mat-table>
  <mat-paginator [pageSizeOptions]="[5,10, 25, 100]" [pageSize]="5" showFirstLastButtons></mat-paginator>

</div> 
</div>
</div>