#content{
    margin-left:30%;
    margin-top:10%;
}
#button{
    margin-left: 35%;
}
input{
    max-width: 450px;
}
.card-body{
    background:#efebeb;
}

.painel{
    margin-left: 90px;
}
img{
    margin-left: 30%
}